#hero {
  max-width: 80rem;
  width: 100%;
  padding: 2.5rem 2rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: var(--space-8);

  & h1 {
    max-width: 40rem;
  }

  & h1 div {
    display: inline-block;
    overflow: hidden;
    height: 5rem;
    width: min-content;
    vertical-align: bottom;
    span {
      display: block;
      font: var(--heading-1);
      animation: rollUp 8s ease-in-out infinite;
    }
  }
  & h1 span:nth-child(1) {
    color: var(--snitap-sky-mid);
  }
  & h1 span:nth-child(2) {
    color: var(--snitap-joy-mid);
  }
  & h1 span:nth-child(3) {
    color: var(--snitap-leaf-mid);
  }
  & h1 span:nth-child(4) {
    color: var(--snitap-sky-mid);
  }
  & .hero-buttons {
    margin-top: var(--space-8);
    display: flex;
    gap: var(--space-6);

    a#buyNow {
      margin-right: 7.5rem;
      display: flex;
      align-items: center;
      gap: var(--space-3);
      padding: var(--space-6) var(--space-8);
      background-color: var(--snitap-sun);
      font: var(--button-label);
      border-radius: 9999px;
      transition: 0.7s ease;
      text-transform: uppercase;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
      &:hover {
        transform: scale(1.1);
      }
    }

    a#preview {
      display: flex;
      align-items: center;
      font: var(--button-label);
      transition: 0.7s ease;
      text-transform: uppercase;
      position: relative;
      &:hover {
        transform: scale(1.1);
      }

      & span {
        position: absolute;
        right: 9rem;
        display: flex;
        justify-content: center;
        padding: var(--space-6) var(--space-8);
        background-color: var(--background-color);
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }

  & .hero-image {
    display: block;
    width: 100%;
    max-width: 30.5rem;
    height: 30.5rem;

    & .content {
      width: 100%;
      height: 100%;
      position: relative;
    }
    & img {
      position: absolute;
      width: 100%;
    }

    & img[src*="ellipse"] {
      width: 94%;
      top: 3%;
      left: 3%;
      animation: slide-in-right 2.5s 50ms ease forwards;
    }

    & img[src*="stars-1"] {
      max-width: 5.5rem;
      top: 30%;
      z-index: 0;
      opacity: 0;
      animation:
        slide-in-right 2s 400ms ease both,
        appear 100ms 400ms both;
    }

    & img[src*="stars-2"] {
      max-width: 3.5rem;
      bottom: 35%;
      right: -1%;
      opacity: 0;
      animation:
        slide-in-right 2.2s 400ms ease both,
        appear 100ms 400ms both;
    }

    & img[src*="patins"] {
      z-index: 1;
      animation: slide-in-right 2.5s ease forwards;
    }
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }

  60% {
    transform: translateX(0);
    opacity: 1;
  }

  72% {
    transform: translateX(-18px);
  }

  82% {
    transform: translateX(10px);
  }

  90% {
    transform: translateX(-6px);
  }

  96% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
@keyframes rollUp {
  0%,
  22% {
    transform: translateY(0%);
  }

  23% {
    transform: translateY(calc(-5rem - 15px));
  }

  25% {
    transform: translateY(calc(-5rem + 10px));
  }

  27% {
    transform: translateY(calc(-5rem - 5px));
  }

  29% {
    transform: translateY(calc(-5rem + 5px));
  }

  33%,
  55% {
    transform: translateY(-5rem);
  }

  56% {
    transform: translateY(calc(-10rem - 15px));
  }

  58% {
    transform: translateY(calc(-10rem + 10px));
  }

  60% {
    transform: translateY(calc(-10rem - 5px));
  }

  62% {
    transform: translateY(calc(-10rem + 5px));
  }

  66%,
  88% {
    transform: translateY(-10rem);
  }

  89% {
    transform: translateY(calc(-15rem - 15px));
  }

  91% {
    transform: translateY(calc(-15rem + 10px));
  }

  93% {
    transform: translateY(calc(-15rem - 5px));
  }

  95% {
    transform: translateY(calc(-15rem + 5px));
  }

  100% {
    transform: translateY(-15rem);
  }
}
